@tailwind base;
@tailwind components;
@tailwind utilities;

 body{
  background-color: blueviolet;
 }

 .mycontainer{
  max-width: 500px;
 }

.inputext{
  /* border: 2px solid black; */
  width: 75%;
  margin-right: 15px;
  padding: 8px;
  color: #000;
}
.inputext:focus-visible{
  border: none;
  outline: none;
}
.mycontainer fieldset.rangeSlider input{
  display: block;
  width: 100%;
}
.mycontainer fieldset {
  margin-bottom: 15px;
}
.mycontainer fieldset  label{
  padding-left: 8px;
  font-size: 16px;
  font-weight: bold;
}
